/* 
.fragment-one-animation,
.fragment-two-animation,
.fragment-tre-animation,
.fragment-four-animation {
    -webkit-animation-duration: .2,s; 
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}
.fragment-one-animation {
      -webkit-animation-name:fragment-one; 
    animation-name: fragment-one ;
}
.fragment-two-animation {
      -webkit-animation-name:fragment-two; 
    animation-name: fragment-two ;
}
.fragment-tre-animation {
      -webkit-animation-name:fragment-tre; 
    animation-name: fragment-tre ;
}
.fragment-four-animation {
      -webkit-animation-name:fragment-four; 
    animation-name: fragment-four ;
}

@keyframes fragment-one {
    0% {
        top: 0px;
        right:0px;
        opacity:1;
    }
    80% {
        opacity: 1;

    }
    100% {
      
        top: -16px;
        right: 20px;
        opacity:0;
    }
}
@keyframes fragment-two {
    0% {
      
        top: 0px;
        right:0px;
        opacity:1;
    }
     80% {
        opacity: 1;

    }
    100% {
       
        top: -19px;
        right: 10px;
        opacity:0;
    }
} */

/* @keyframes fragment-tre {
    0% {
        top: -9px;
        opacity:1;
    }
     80% {
        opacity: 1;

    }
    100% {
        opacity:0;
        top: -50px;
    }
}


@keyframes fragment-four {
    0% {
        right:0;
        opacity:1;
    }
    80% {
        opacity: 1;

    }
    100% {
        opacity:0;
        right: 30px;
    }
} */


    .hit-container {
        position: fixed;
        left:100px;
        top:100px;

        .hit-2,
        .hit-3,
        .hit-4,
        .hit-1 {
            position: absolute;
            width: 0;
            height: 0;
            border:10px solid transparent;
            opacity: 0;
           
        }
        .blast {
            /* background-color: #F64744; */
            position: absolute;
            width: 0px;
            height: 0px;
            border-radius: 50%;
        }

        .hit-1 {
            border-bottom:7px solid #ccc;
        }
        .hit-2 {
            border-right:5px solid #ccc;
        }
        .hit-3 {
            border-top:5px solid #ccc;
        }
        .hit-4 {
            border-left:8px solid #ccc;
        }
        .blast-animation {
            -webkit-animation: blast-animation .2s infinite;
            animation: blast-animation .2s infinite;
        }
        .hit-animation-1 {
            -webkit-animation: hit-animation-1 .2s infinite;
            animation: hit-animation-1 .2s infinite;
        }

        .hit-animation-2 {
            -webkit-animation: hit-animation-2 .2s infinite;
            animation: hit-animation-2 .2s infinite;
        }
        .hit-animation-3 {
            -webkit-animation: hit-animation-3 .2s infinite;
            animation: hit-animation-3 .2s infinite;
        }
        .hit-animation-4 {
            -webkit-animation: hit-animation-4 .2s infinite;
            animation: hit-animation-4 .2s infinite;
        }

    }


    @keyframes blast-animation {

        0% {
           background-color: #222;
           border:1px solid #222;
           width: 0;
           height: 0;
        }
        50% {
           /*  background-color: #222;
            border:1px solid #222; */
        }
        100% {
            background-color: #fff;
            border:1px solid #ccc;
            width: 10px;
            height: 10px;        
        }
    }

    @keyframes hit-animation-1 {

        0% {
            bottom:-20px;
            opacity: 1;
        }
        100% {
            bottom:-40px;
            opacity:0;
            transform: rotate(100deg);
        }
    }

    @keyframes hit-animation-2 {

        0% {
            left:0px;
            opacity: 1;
        }
        100% {
            left:30px;
            opacity:0;
            transform: rotate(90deg);
        }
    }
    @keyframes hit-animation-3 {

        0% {
            top:0px;
            opacity: 1;
        }
        100% {
            transform: rotate(30deg);
            top:-20px;
            opacity:0;
        }
    }
    @keyframes hit-animation-4 {

        0% {
            right:0px;
            opacity: 1;
            transform: rotate(0deg);
        }
        100% {
            right:20px;
            opacity:0;
            transform: rotate(40deg);
        }
    }


