* {
  box-sizing: border-box;
}
body {
  margin:0;
  font-family: 'Lato', sans-serif;
  background-color: #00495b;
  overflow-x:hidden;



  .primary-button {
    transition:.3s all;
    padding: 15px;
    color:#f2f2f2;
    background-color: transparent;
    border:1px solid #f2f2f2;
    min-width: 120px;
    
  }

  .primary-button:hover {
    background-color:#ce3a3a;
  }

  .game-container {
    position: absolute;
    bottom: 0;
    transition:60s all;

    #audio {
      display: none;
    }
  }






}


