* {
  box-sizing: border-box;
}
body {
  margin:0;
  font-family: 'Lato', sans-serif;
  color:rgb(206, 58, 58);
  background-color: rgb(195, 45, 45);




  .primary-button {
    padding: 15px;
    background-color: transparent;
    border:1px solid #222;
    min-width: 120px;
    
  }

  .primary-button:hover {

  }





}


