* {
  box-sizing: border-box;
}
body {
  margin:0;
  font-family: 'Lato', sans-serif;
  background-color: #ce3a3a;




  .primary-button {
    transition:.3s all;
    padding: 15px;
    color:#f2f2f2;
    background-color: transparent;
    border:1px solid #f2f2f2;
    min-width: 120px;
    
  }

  .primary-button:hover {
    background-color:#ce3a3a;
  }





}


