
.eye-light {
    -webkit-animation-name: eye-flash ; 
    -webkit-animation-duration: 2,s; 
    animation-name: eye-flash ;
    animation-duration:2s;
    animation-iteration-count: infinite;

}
.find {
    -webkit-animation-name: find ; 
    -webkit-animation-duration: 0.5,s; 
    animation-name: find ;
    animation-duration:.5s;
    animation-iteration-count: infinite;
}
#robot-container {
    -webkit-animation-name:flying; 
    -webkit-animation-duration: 3s; 
    animation-name:flying;
    animation-duration:3s;
    animation-iteration-count: infinite;
}
.head-off {
      -webkit-animation-name:head-off; 
    -webkit-animation-duration: 3s ; 
    animation-name:head-off ;
    animation-duration:3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes moving {
    0% {right: 200px;}
    100% {right: 20000px;}
}
@keyframes flying {
    0% {    bottom: 75%;}
    50% {bottom: 78%;}
    100% {bottom: 75%;}
   

    
}

@keyframes head-off {
    0% {
        top:0;
        left:0;
        

    }

    30% {
        opacity:1;
        transform: rotate(20deg);
    }
    100%{
        opacity:0;
        
        top:-600px;
        left:600px;
    }
}

@keyframes eye-flash {
    0% {background: #bd2005;}
    50% {background: #ff330f;}
    100% {background: #a21c04;}
}


@keyframes find {
    0% {opacity:1;
        margin-top:5px}

    100% {opacity:0;
        margin-top:65px}
}