.console-container {
    position: fixed;
    bottom:0;
    height: 300px;
    width: 100%;
    color:#fff;
    z-index: 2;
    /* background-color: #de3c7b; */
    background-color: #263371;

    button {
        border:none;
        text-transform: uppercase;
        border-radius:10px;
        font-size: 10px;
        padding: 7px;
        margin:0 5px;
        cursor:pointer;
        transition:.2s all;
    }

    .secondary-button {
        border:1px solid #fff;
        color:#fff;
        background-color: transparent;
        position: relative;
        width: 100px;
        

        i {
            position:absolute;
            left:13px;
            border:6px solid transparent;
            border-left:6px solid #fff;
            display: block;
            
        }
    }
    .secondary-button:hover {
        background-color: #fff;
        color:#111733;

        i {
            border-left:6px solid #111733;
        }
    }
    .primary-button {
        border:1px solid #de3c7b;
        color:#fff;
        background-color: transparent;
    }
    .primary-button:hover {
        background-color: #de3c7b;
    }
    .top-bar {
        /* position: relative; */
        display: flex;
     /*    padding: 5px; */
     height: 35px;
        border: 1px solid black;

        h1 {
            flex:5;
            margin:0;
            margin-left:10px;
            font-size: 10px;
            font-weight: normal;
            margin-top:8px;
        }
        .top-bar-button-container {
            text-align: right;
            flex: 1;
            min-width: 60px;
            margin: 5px;
            

            .dock-side-button,
            .hide-console-button {
                display: inline-block;
                vertical-align: middle;
                flex:1;
                padding: 5px;
                margin:0 5px;
                background-color: #fff;
                width: 10px;
                height: 10px;
                border:1px solid #fff;
            }
        }
    }

    .console-content-container {
        display: flex;
        padding: 0 5px 5px 5px;
        width: 100%;
      /*   .instructions{
            background-color: red;
        } */
        .editor-view {
            background-color: #111733;
            width: 100%;
            height: 230px;
        }
    }

    .console-button-container {
        width: 100%;
        text-align: right;

    }



}

.dock-right {
    position: fixed;
    bottom:0;
    top:0;
    right:0;
    height: auto;
    width: 300px;
    color:#fff;
    display: flex;
    flex-direction: column;
    padding-bottom:5px;

    .top-bar {
        
    }

    
    .console-content-container {
        height: 100%;
        .editor-view {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    .console-button-container {
        width: 100%;
        text-align: right;

    }
    
   
}